MODE=DEV
LOG_LEVEL=INFO

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=booking_app

POSTGRES_DB=booking_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=465
SMTP_USER=john@doe.com
SMTP_PASS=123

REDIS_HOST=redis
REDIS_PORT=6379


SECRET_KEY=123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30